@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,600;1,700&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-nav: #323232;
  --color-letra-principal: #1d1d1f;

  --fondo-nav: #3ebfff; /* #f0f4f1 */
  --fondo-card: #f0f4f1;
  --fondo-footer: #f0d9c3;
  --back-button: #0071e3;
  /* --color-letra-principal: #000; */
  /* --color-letra-principal: #353535; */
  --color-letra-secundaria: #fff;
  --white: hsl(0, 0%, 100%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);

  --font-fraunces: "Fraunces", serif;
  --font-barlow: "Barlow", sans-serif;
}

body {
  font-family: var(--font-barlow);
  font-size: 18px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  width: min(90%, 1200px);
  margin: 0 auto;
  padding: 30px 0;
}

.pdx-1 {
  padding: 1rem 0;
}

.bd-2-gray {
  border-bottom: 2px solid #eee;
}

.red{
  color: red;
}

.button__cart {
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 0;
  color: var(--white);
  width: 100%;
  border: none;
  border-radius: 3px;
  background-color: var(--fondo-nav);
}
