.products {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product {
  /* border: 1px solid black; */
  background-color: #fbfbfb;
  color: var(--color-letra-principal);
  border: 1px solid #c6c6c7;
  border-radius: 10px;
  transition: scale 0.3s;
}

.product:hover {
  scale: 1.04;
}

.product__img {
  border-radius: 10px;
  height: 250px;
  object-fit: contain;
}

.product__content {
  padding: 1.2rem 0.8rem 1.2rem 0.8rem;
}

.product__title {
  font-weight: 600;
}

.product__description {
  color: #6e6e73;
}

.product__button {
  background-color: red !important;
}
